body
{
background-image: url("https://media3.giphy.com/media/37q9y7WbvLAy3Wg90h/giphy.gif?cid=790b7611d2b369438e14cf83bb1d9c03b3a5d86ece3ffb1a&rid=giphy.gif");
}
.heading
{
width: 100%;
text-align: left;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start ,#status, #restart
{
font-size: 22px;
}

.modal-dialog
{
    width: 70%;
}
.modal-body
{
    text-align: left;
    font-size: 20px;
}
h4
{
   background-color: grey;
   color:white;
   line-height: 2;
}
canvas 
  {
      border:3px solid white;
      border-radius: 20px;
      box-shadow:  5px 5px 5px black;
  }
